 <% @master = User.find_by(id: request.url.split('/').last.to_i) %>
 <div id="profile">
 <div>
     <div class="profile-part"><%= image_tag  @master.avatar_thumbnail, size: "350x350"%></div>
     <div id="profile-info" class="profile-part">
         <h4><%= @master.first_name %>
         <%= @master.last_name %></h4> <br />
         
        
          <%if @master.about != nil%>
            <%=t "aboutText", about: @master.about %><br />
          <%end%>
          <%= t "email" %>: <%= @master.email%><br />
          <%if @master.phone_numb%>
            <%= t "pNum"%>: <%= @master.phone_numb %> <br />
          <%end%>
          <%if @master.work_exp!= nil%>
            <%= t "workExp", exp: @master.work_exp %><br />
         <%end%>
         
         


     </div>
     
 </div>
</div>

         
<% if current_user && current_user.role == "customer" %>
  <%= form_with model: [@user, @comment] do |f| %>
    <%= f.label t "feedback" %> <br />
    <%= f.text_area :body , class: "form-control text-area"%><br />
    <%= f.submit t("postFeedback"), class: "btn btn-secondary" %>
  <% end %><br />
<% else %>
  <%= t("signinPls_html") %>
<% end %>


<div id="comment-block">
  <p><%= t "reviews"%></p>
  <div id="show-comment">
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  </div>
</div>
