<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">

        <%= link_to t(".homepage"), root_path,class: 'navbar-brand' %>
   
        <ul class="navbar-nav ml-auto">
           
            <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to  t(".OurMasters"), page_show_master_path,class:'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to  t(".EditProfile"), edit_user_registration_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to  t(".Signout"), destroy_user_session_path, method: :delete, class:'nav-link' %>
            </li>
            <% else %>
            <li class="nav-item">
                <%= link_to  t(".OurMasters"), page_show_master_path,class:'nav-link' %>
            </li>
            <li class="nav-item">
            <%= link_to  t(".Signin"), new_user_session_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
            <%= link_to  t(".Signup"), new_user_registration_path, class:'nav-link' %>
            </li>
            <% end %>
            <li class="nav-item">
                <%= link_to 'En', root_path(locale: :en),class:'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'Ru', root_path(locale: :ru),class:'nav-link' %>
            </li>
        </ul>
    </div>
</nav>