<% if current_user %>
<h1><%= t '.Welcome' %>, <%= current_user.last_name %> <%= current_user.first_name %>!</h1>
<% else %>
<h1><%= t '.WelcomeA' %> </h1>
<% end %>
<h4><p><%= t ".description_html"%></p></h4>
<h5><%= t ".TotalU_html", overall: User.count, mcount: User.master.count, ccount: User.customer.count%>
</h5>